
@{
                /**/

                ViewBag.Title = "Contact2";
}
@model IEnumerable<TankiFoodAndTravel.Models.ContactUs>

<h2>Contact Us</h2>

<table border="0">
    @foreach (var item in Model)
    {
        <tr>
            <td> Country : </td>
            <td>@Html.Label(@item.CountryName)</td>
            <td> State : </td>
            <td>@Html.Label(@item.State)</td>
            <td> City : </td>
            <td>@Html.Label(@item.City)</td>
        </tr>
    }

</table>
